*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
}


/* start of navigation bar */

nav{
    display: block;
    background-color: white;
    min-height: 60px;
    padding-top: 10px;
}


.nav-logo, .right-nav li, .right-nav{
    display: inline-block;
    vertical-align: middle;
}

ul{
    width: 100%;
}


.nav-logo{
    width: 47%;
    
}

.right-nav{
    width: 52%;
    text-align: right;
    vertical-align: middle;
    height: 40px;
}

.right-nav li{
    margin-right: 10px;
}

.tuitt-button{
    font-size: 20px;
    padding: 8px;
    background-color: #c2195b;
    color: white;
    font-weight: bold;
    border-radius: 40px;
    width: 160px;
}
/* End of nav */

/* Start of landing page */
#bg-image{
    background: linear-gradient(to right, rgba(0,0,0,0.2), rgba(0,0,0,0.6)),url('./images/background-image.jpg');
    background-position: center center;
    min-height: calc(2 * (100vh - 100px) / 4)
}

.title{
    color: white;
    font-family: 'Zilla Slab', serif;
    text-align: right;
    font-size: 55px;
    width: 35%;
    margin-right: 290px;
    margin-left: auto;


}


.subtitle{
    margin-top: 30px;
    text-align: right;
    color: white;
    width: 35%;
    margin-right: 290px;
    margin-left: auto;
    font-size: 20px;
}

.apply-button{
    margin-top: 30px;
    font-size: 24px;
    padding: 8px;
    width: 200px;
    background-color: #c2195b;
    color: white;
    border-radius: 20px;
    position: relative;
    left: 75%;
}

/* Start of intro-section and prefooter */

.intro{
    text-align: justify;
    min-height: calc((100vh - 100px) / 4);
}

.title-2{
    text-align: center;
    font-family: 'Zilla Slab', serif;
    font-size: 40px;
    margin-bottom: 30px;
}

.intro-description, .prefooter-description{
    text-align: justify;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
}

.book-button{
    font-size: 16px;
    background-color:  #336589;
    border-radius: 20px;
    padding: 10px;
    color: white;
    position: relative;
    left: 48%;
}

.pre-footer{
    text-align: justify;
    background-color: #f7fbfb;
    width: 100%;
    min-height: calc((100vh - 100px) / 4);
}

/* Start of footer */

footer{
    text-align: center;
    height: 40px;
    padding-top: 10px;
}

/* End of footer */